<h2>Register:</h2>
<form ng-submit="create()">
  <label for="firstName">
    First Name: <input type="text" id="firstName" ng-model="user.first_name">
  </label>
  <label for="lastName">
    Last Name: <input type="text" id="lastName" ng-model="user.last_name">
  </label>
  <label for="email">
    Email: <input type="email" id="email" ng-model="user.email">
  </label>
  <label for="password">
    Password: <input type="password" id="password" ng-model="user.password">
  </label>
  <label for="passwordConfirm">
    Confirm Password: <input type="password" id="passwordConfirm" ng-model="user.password_confirm">
  </label>
  <input type="submit" value="Register New User">
</form>
<a href="/#/">Home</a>
