<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node/Express Practice</title>
</head>
<body>
	<h1>Hello Dude</h1>
	<form action="/users" method='POST'>
		Your Name: <input type="text" name="myName" id="myName">
		<input type="submit" value="Submit!">
	</form>
	<p>This project was created by importing a package.json file and using 'npm install' to grab all required packages</p>
</body>
</html>