<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FS Demo - Dojo Page</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>Cars!</h1>
	<img src="/images/car01.jpg" alt="/images/car01.jpg">
	<img src="/images/car02.jpg" alt="/images/car02.jpg">
	<img src="/images/car03.jpg" alt="/images/car03.jpg">
	<img src="/images/car04.jpg" alt="/images/car04.jpg">
	<img src="/images/car05.jpg" alt="/images/car05.jpg"><br>
	<a href="/">Back to Cats!</a>
</body>
</html>