<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add A Cat!</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h1>Add A Cat!</h1>
	<form action="/cats" method="POST">
		Name: <input type="text" name="name" id="name">
		Color: <input type="text" name="color" id="color">
		Hair Type: <input type="text" name="hair" id="hair">
		<input type="submit" value="Add Cat!">
	</form>
</body>
</html>