<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Dojo</title>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/bower_components/underscore/underscore-min.js"></script>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<h1>Check out this Squirrel:</h1>
	<img src="../static/images/hoveringcat.png" alt="Hovering Cat">
	<img src="../static/images/dog.jpg" alt="Cute Dog">
	<img src="../static/images/littlepig.gif" alt="Cute Pig">
	<a href="/second_dojo.html">Goto Second Dojo</a>
</body>
</html>