<html>
<body>
	<form action="/sendUser" method='POST'> <!--data is stored in session. note: this is not often used-->
		Name:<input type="text" name='name'>
		<input type="submit" value="Send User">
	</form>
	<h2>Here are all the users</h2>
	<% for (var x in users) { %>
		<h3>Name: <%= users[x].name %></h3>
		<h4>Email: <%= users[x].email %></h4>
		<hr>
	<% } %>

</body>
</html>